{% extends 'base.html.twig' %}

{% block title %}{{product.name}}{% endblock %}

{% block body %}

    <!-- Product section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <!-- Product image -->
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{asset('uploads/products-images/' ~ product.image)}}" alt="..." /></div>
                <!-- Product details -->
                <div class="col-md-6">
                    <!-- Product category -->
                    <small class="text-success">{{product.category.name}}</small>
                    <!-- Product name -->
                    <h1 class="display-5 fw-bolder">{{product.name}}</h1>
                    <!-- Product price -->
                    <div class="fs-5 mb-5">
                        {# if discount is live on this product #} 
                        {% if (product.discount > 0) and (product.discountStart|date('U') <= "now"|date('U')) and (product.discountEnd|date('U') >= "now"|date('U')) %}
                        {# show discount price #} 
                        <h3 class="text-danger fw-bolder">{{(product.price - (product.price * product.discount / 100)) |number_format(2, ',', '')}} €</h3>
                        {% else %}
                        {# show regular price #} 
                        <h3>{{(product.price) |number_format(2, ',', '')}} €</h3>
                        {% endif %}
                    </div>
                    <!-- Product description -->
                    <p class="lead">{{product.description}}</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
