{% extends 'base.html.twig' %}

{% block title %}Nuestros productos{% endblock %}

{% block body %}
    <!-- Header-->
    <header class="bg-dark py-2" id="header-product-list">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Nuestros productos</h1>
                <p class="lead fw-normal text-white-70 mb-0">Descubra las promociones vigentes</p>
            </div>
        </div>
    </header>

    <!-- Section-->
    <section class="py-2">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="justify-content-center mb-4">
                <a href="{{path('app_product_list')}}" class="btn btn-success btn-sm">Todos</a>
            {% for category in categories %}
                <a href="#" class="btn btn-outline-secondary btn-sm">{{category.name}}</a>
            {% endfor %}
            </div>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for product in products %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="{{asset(product.image)}}" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{product.name}}</h5>
                                <!-- Product description-->
                                <p>{{product.description}}</p>
                                <!-- Product price-->
                                <span {% if product.discount > 0 %}class="text-danger fw-bolder"{% endif %}>{{product.price}} €</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
